<div class="text-center body" *ngIf = "authSvc.statusUser == 'No'">
  <div class="container">
      <div class="card">
        <div class="text-center">
          <img class="mb-4" src="./assets/img/logo.png" alt="" width="200" height="">
        </div>
        <div class="card-header">
          <div class="card-title">
            Versión 1
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Aplicación para tu que hacer</h5>
          <p class="card-text">
            Una forma para manejar tus notas de clase.
          </p>
          <button class="btn btn-primary" (click)="authSvc.googleAuth()">
            Iniciar con Google
          </button>

        </div>
      </div>
  </div>
</div>
