<div class="text-center body">
  <form class="form-signin">
    <img class="mb-4" src="./assets/img/logo.png" alt="" width="" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Registro de Usuario</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Correo Electronico" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Clave" required>

    <button type="submit" class="btn btn-lg btn-primary btn-block" >Registrar Cuenta</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    <p>
      <small>Si ya tienes cuenta...</small>
    </p>
    <p>
      <a routerLink="/login">Iniciar Sesión</a>
    </p>
  </form>

</div>
