<div class="row">
<div>
  <form [formGroup]="formNoteClass" (ngSubmit)="onSaveNote()" class="form-inline">
    <div class="form-group col-4 ">
      <label for="nameClass" class="sr-only">Clase</label>
      <input type="text" class="form-control" id="nameClass" formControlName="nameclass" placeholder="Clase">
    </div>
    <div class="form-group col-6">
      <label for="note" class="sr-only">Clase</label>
      <input type="text" class="form-control" id="note" formControlName="note" placeholder="Nota de Clase">
    </div>
    <button type="submit" class="btn btn-primary col-2">Guardar</button>
  </form>
</div>
</div>
<div class="row">
  <hr>
</div>
<div class="row">
  <div class="card col-12">
    <div class="card-header">
      <h4 class="card-title">Notas Guardadas</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre de Clase</th>
            <th scope="col">Nota de Clase</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of notes">
            <th scope="row">{{ note.data.nameclass }}</th>
            <td>{{ note.data.note}}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteNote(note.id)">Eliminar</button>
            </td>
          </tr>
          </tbody>
          </table>
    </div>
  </div>
</div>
<ngx-alerts></ngx-alerts>
