<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Crear Ticket
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="formTicket" method="POST" (ngSubmit)="onSaveTicket()">
            <div class="row">
                <div class="col-md-3">
                    <label for="teacher">Profesor</label>
                    <select name="teacher" id="teacher" formControlName="teacher" class="form-control">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let teacher of teachers" value="{{ teacher.uid}}">
                            {{ teacher.displayName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="typeRequest">Tipo</label>
                    <select name="typeRequest" id="typeRequest" formControlName="typeRequest" class="form-control">
                        <option *ngFor="let typeRequest of typeRequests" value="{{ typeRequest.type }}">{{ typeRequest.type }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="topic">Tema</label>
                    <input type="text" id="topic" name="topic" formControlName="topic" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="commentary">Comentario</label>
                    <textarea name="commentary" id="commentary" formControlName="commentary" cols="30" rows="10" class="form-control"></textarea>
                </div>   
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title text-center">
                <h2>Tickets Abiertos</h2>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Profesor</td>
                        <td>Tipo</td>
                        <td>Topico</td>
                        <td>Comentario</td>
                        <td>Nuevo Estado</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets" [hidden]="ticket.data.status != 'Activo'">
                        <td>{{ ticket.data.teacher }}</td>
                        <td>{{ ticket.data.typeRequest }}</td>
                        <td>{{ ticket.data.topic }}</td>
                        <td>{{ ticket.data.commentary }}</td>
                        <td>
                            <button class="btn-info btn" (click)="onCloseTicket(ticket.idT, 'Cerrado')">Cerrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title text-center">
                <h2>Tickets Cerrados</h2>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Profesor</td>
                        <td>Tipo</td>
                        <td>Topico</td>
                        <td>Comentario</td>
                        <td>Nuevo Estado</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets" [hidden]="ticket.data.status == 'Activo'">
                        <td>{{ ticket.data.teacher }}</td>
                        <td>{{ ticket.data.typeRequest }}</td>
                        <td>{{ ticket.data.topic }}</td>
                        <td>{{ ticket.data.commentary }}</td>
                        <td>
                            <button class="btn-primary btn" (click)="onCloseTicket(ticket.idT, 'Activo')">Abrir</button>
                            <button class="btn btn-danger" (click)="onDeleteTicket(ticket.idT)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
